<div class="footer-block__item footer-block__logo">
    {%- for block in blocks -%}
        {%- if block.settings.text != blank -%}
            <div class="footer-block__details rte">
                {{ block.settings.text }}
            </div>
        {%- endif -%}
        {%- if block.settings.show_social -%}
            {%- if block.settings.heading_social != blank -%}
                <h2 class="footer-block__heading">
                    {{ block.settings.heading_social | escape }}
                </h2>
            {%- endif -%}
            {% render 'halo-social-media-icons',
                block: block,
                show_social: true,
                footer_layout: footer_layout
            %}
        {%- endif -%}
    {%- endfor -%}
</div>