{%- if block.settings.show_block -%}
    {%- liquid
        assign heading = block.settings.heading
        assign text = block.settings.text
    -%}
    <div class="sidebarBlock{% if show_collapse %} sidebarBlock-collapse{% endif %}">
        {%- if show_collapse -%}
            <collapse-button class="sidebarBlock-headingWrapper">
        {%- endif -%}
            {%- if heading != blank -%}
                <h3 class="sidebarBlock-heading{% if show_collapse and sidebar_collapse == 'expand' %} is-clicked{% endif %}"{% if show_collapse %} data-collapse-button{% endif %}>
                    {{ heading | escape }}
                </h3>
            {%- else -%}
                {%- if show_collapse -%}
                    <h3 class="sidebarBlock-heading{% if sidebar_collapse == 'expand' %} is-clicked{% endif %}"{% if show_collapse %} data-collapse-button{% endif %}>
                        BLock Heading
                    </h3>
                {%- endif -%}
            {%- endif -%}
        {%- if show_collapse -%}
            </collapse-button>
            <div class="sidebarBlock-contentWrapper{% if sidebar_collapse == 'expand' %} is-expanded{% endif %}">
        {%- endif -%}
            <div class="sidebarBlock-content">
                <div class="advertisement-text halo-text-format">
                    {{ text }}
                </div>
            </div>
        {%- if show_collapse -%}
            </div>
        {%- endif -%}
    </div>
{%- endif -%}