<noscript>{{ 'component-quick-cart.css' | asset_url | stylesheet_tag }}</noscript>

<div class="halo-popup halo-quick-cart-popup customPopup-large halo-popup-topDown" data-quick-cart-popup id="halo-quick-cart-popup" data-url-style-quick-cart="{{ 'component-quick-cart.css' | asset_url }}">
    <div class="halo-popup-wrapper">
        <div class="halo-popup-content halo-popup-scroll custom-scrollbar">
            <quick-cart-items data-view="ajax_dropdown_cart" data-section="Dropdown" data-add-class="false" data-empty-cart="false">
            	<div class="halo-block-loader"></div>
            	<div class="quickCartWrap">
            		<div class="cart-item cart-itemLeft" id="Cart-Item-Dropdown"></div>
            		<div class="cart-item cart-itemRight" id="Cart-Total-Dropdown"></div>
            	</div>
            </quick-cart-items>
        </div>
    </div>
</div>