{%- if request.design_mode -%}
	{{ 'component-theme-notification.css' | asset_url | stylesheet_tag }}
    <admin-popup-iframe class="admin-popup-iframe">
        <button class="admin-popup-btn">
        	<span class="text">
        		View documentation
        	</span>
        	<span class="icon">
        		<svg viewBox="0 0 20 20" aria-hidden="true" focusable="false" role="presentation">
        			<path d="M6.902 12h6.196c.751 0 1.172-.754.708-1.268l-3.098-3.432c-.36-.399-1.055-.399-1.416 0l-3.098 3.433c-.464.513-.043 1.267.708 1.267Z"></path>
        		</svg>
        	</span>
        </button>
        <div class="admin-popup-content">
        	<span class="content">Get <strong>step-by-step</strong> guidance on how to best set up your theme online.</span>
	        <a href="https://halosoft.gitbook.io/halo-docs/" class="link" target="_blank">
    			<span class="text">Get Started</span>
    		</a>
        </div>
    </admin-popup-iframe>
{%- endif -%}