.header-single-line {
    background: var(--header-bg);
}

.header-single-line .top-customer-service .customer-service--text,
.header-single-line .top-announcement-bar-item,
.header-single-line .halo-top-currency .dropdown-label{
    color: var(--header-color);
}

.header-single-line .top-language-currency .dropdown-icon svg{
    color: var(--header-color);
    fill: var(--header-color);
}

/* Customer Service */
.header-single-line .top-customer-service {
    padding: 0;
}

body.dark-mode .header-single-line .top-customer-service .customer-service--text,
body.dark-mode .header-single-line .top-announcement-bar-item{
    color: var(--dark-mode-header-color);
}

body.dark-mode .header-single-line .top-language-currency .dropdown-icon svg{
    color: var(--dark-mode-header-color);
    fill: var(--dark-mode-header-color);
}

/* Responsive */
@media (max-width: 1024px){
    .header-single-line .top-customer-service {
        padding: 0;
    }

    .header-single-line .header-customer_service,
    .header-single-line .header-language_currency {
        display: none !important;
    }

    .header-single-line .header-announcement_bar {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (min-width: 1025px){
    .header-single-line .header-customer_service,
    .header-single-line .header-language_currency {
        width: calc((100% - 37%)/2);
        display: block;
        position: static;
        font-size: 0;
        letter-spacing: 0;  
    }

    .header-single-line .header-announcement_bar {
        width: 500px;
        padding: 0 15px;
    }

    .header-single-line .header-customer_service.text-left .top-customer-service {
        justify-content: flex-start;
    }

    .header-single-line .header-customer_service.text-center .top-customer-service {
        justify-content: center;
    }

    .header-single-line .header-customer_service.text-right .top-customer-service {
        justify-content: flex-end;
    }
}