.admin-popup-iframe{
	display: none;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0,0,0,.1), 0 4px 20px rgba(0,0,0,.15);
    color: var(--color-white);
    position: fixed;
    right: 1rem;
    bottom: 7rem;
    transform: scale(.95);
    transform-origin: bottom right;
    z-index: 1000;
    max-width: 295px;
    background-color: var(--bg-black);
    overflow: hidden;
}

.admin-popup-btn{
	-webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    justify-content: space-between;
    align-items: center;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
}

.admin-popup-btn .text{
	display: block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.admin-popup-btn .icon{
	display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 1;
    font-size: 0;
	letter-spacing: 0;
}

.admin-popup-btn .icon svg{
	display: block;
    width: 20px;
    height: 20px;
    transition: unset!important;
}

.admin-popup-btn .icon:before{
	content: '';
	display: none;
	background-color: #303036;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.admin-popup-btn:after{
	border-radius: 5px;
    bottom: -0.0625rem;
    box-shadow: 0 0 0 -0.0625rem rgb(69, 143, 255);
    content: "";
    display: block;
    left: -0.0625rem;
    pointer-events: none;
    position: absolute;
    right: -0.0625rem;
    top: -0.0625rem;
    transition: box-shadow .1s cubic-bezier(0.25, 0.1, 0.2);
    z-index: 1;
}

.admin-popup-btn:focus-visible:after{
    box-shadow: 0 0 0 0.125rem rgb(69, 143, 255);
	outline: 0.0625rem solid rgba(0,0,0,0);
}

.admin-popup-iframe:not(.is-active) .admin-popup-btn{
	padding: 10px 8px;
	width: 100%;
}

.admin-popup-iframe.is-active .admin-popup-btn{
	font-size: calc(var(--font-size) + 4px);
    padding: 20px 20px 0 20px;
    margin-bottom: 12px;
    width: 100%;
}

.admin-popup-iframe.is-active .admin-popup-btn .text{
	margin-left: 0;
}

.admin-popup-iframe.is-active .admin-popup-btn .icon svg{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}

.admin-popup-iframe.is-active .admin-popup-btn .icon:before{
	display: block;
}

.admin-popup-content{
	opacity: 0;
    pointer-events: none;
    position: relative;
    transform: translateY(50%);
    visibility: hidden;
    height: 0;
    width: 0;
}

.admin-popup-content .content{
	display: inline-block;
	vertical-align: top;
	margin: 0 0 20px 0;
	font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
}

.admin-popup-content .link{
	display: block;
	width: 100%;
	text-align: center;
    position: relative;
    background-image: linear-gradient(to right, #2e1dd3 0%, #5d2eee 51%, #6a33f5 100%);
    box-shadow: 0px 3px 10px 0px rgb(35, 25, 204, .3);
    border-radius: 4px;
	transition: 0.5s;
	color: var(--color-white);
	padding: 7px 16px;
}

.admin-popup-content ul{
	margin-top: 20px;
	margin-bottom: 0;
}

.admin-popup-content li{
	display: inline-block;
	vertical-align: top;
	margin: 0 0 10px 0;
	font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
}

.admin-popup-content li:last-child{
	margin-bottom: 0;
}

.admin-popup-content li a{
	display: flex;
	align-items: center;
	justify-content: flex-start;
    position: relative;
	color: var(--color-white);
}

.admin-popup-content li a .icon{
	display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 1;
    font-size: 0;
    letter-spacing: 0;
}

.admin-popup-content li a .text{
	display: block;
	margin-left: 10px;
}

.admin-popup-content li a .icon svg{
	display: block;
    width: 16px;
    height: 16px;
    transition: unset!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.admin-popup-content li a .icon:before{
	content: '';
	display: block;
    background-image: linear-gradient(to right, #2e1dd3 0%, #5d2eee 51%, #6a33f5 100%);
    box-shadow: 0px 3px 10px 0px rgb(35, 25, 204, .3);
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.admin-popup-iframe.is-active .admin-popup-content{
	display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    pointer-events: auto;
    visibility: visible;
    width: 100%;
    height: auto;
    opacity: 1;
	transform: translateY(0);
}

/* START: Right To Left */
	.admin-popup-content .rtl-theme {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.admin-popup-content .rtl-theme .text {
		padding-left: 10px;
	}

	.switch-rtl{
		position: relative;
		display: inline-block;
		width: 60px;
		height: 32px;
		border-radius: 37px;
		background-color: #e74c3c;
		cursor: pointer;
		transition: all .3s;
		overflow: hidden;
		box-shadow: 0px 0px 2px rgba(0,0,0, .3);
	}

	.switch-rtl input{
		display: none;
	}

	.switch-rtl input:checked + .check-switch{
		left: calc(70px - 35px);
		box-shadow: 0px 0px 0px white;
	}

	.switch-rtl input:checked + .check-switch:before {
		opacity: 0;
		transition: opacity .3s ease;
	}

	.switch-rtl .check-switch{
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		background-color: white;
		box-shadow: 0px 0px 1px rgb(150,150,150);
		top: 50%;
		left: 5px;
		transform: translate(0,-50%);
		transition: all .3s;
	}

	.switch-rtl .check-switch:before, 
	.switch-rtl .check-switch:after{
		position: absolute;
		content: 'ON';
		width: calc(70px - 40px);
		height: 30px;
		line-height: 31px;
		font-family: 'Jost';
		font-size: 12px;
		font-weight: bold;
		top: -5px;
		text-align: center;
	}

	.switch-rtl .check-switch:before{
		content: 'OFF';
		color: white;
		left: 100%;
	}

	.switch-rtl .check-switch:after{
		content: 'ON';
		right: 100%;
		color: white;
	}

	.switch-rtl-checked{
		background-color : #2ecc71;
		box-shadow: none;
	}
/* END: Right To Left */

@media (min-width: 1025px){
	.admin-popup-iframe{
		display: block;
	}

	.admin-popup-iframe:not(.is-active):hover{
		background-color: #303036;
	}

	.admin-popup-content .link:hover,
	.admin-popup-content li a:hover .icon:before{
		background-position: right center;
		background-image: linear-gradient(to right, #2e1dd3 0%, #2e1dd3 100%);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.admin-popup-iframe {
	    transition: .2s;
	}

	.admin-popup-content{
		transition-delay: .2s,.1s,.2s;
	    transition-duration: .3s,.4s,.45s;
	    transition-property: visibility,transform,opacity;
	}
}