.header-nav .header-top,
.header-nav .header-middle,
.header-nav .header-bottom{
    background: var(--header-bg);
}

.header-nav-classic .header-middle--wrapper .header-nav__logo {
    width: calc(var(--logo-width) + 30px);
}
/* START: Annoucement */
.header-nav-basic .header__linkItem > a {
    font-size: var(--font-size);
}

/* START: Function Group */
.header-nav .header__icons--margin.style-4 .header__icon + .header__icon--cart,
.header-nav .header__icons--margin.style-5 .header__icon + .header__icon--cart {
    margin-left: calc(var(--margin-left) - 7px);
}

.header-nav .header__icons--margin.style-6 .header__iconItem + .header__iconItem {
    margin-left: calc(var(--margin-left) + 12px);
}

.header-nav .header-nav__icons.style-6 .cart-count-bubble,
.header-nav .header-nav__icons.style-6 .wishlist-count-bubble{
    min-width: 15px;
    min-height: 15px;
    font-size: calc(var(--font-size) - 5px);
    line-height: 15px;
    top: -5px;
    right: -2px;
}

.header-nav .header-nav__icons.style-7 .cart-count-bubble {
    top: -2px;
    right: -2px;
}

.header-nav .header-nav__icons.style-7 .cart-count-bubble,
.header-nav .header-nav__icons.style-7 .wishlist-count-bubble{
    min-width: 15px;
    min-height: 15px;
    line-height: 15px;
}

.header-nav .header-nav__icons.style-12 .cart-count-bubble,
.header-nav .header-nav__icons.style-12 .wishlist-count-bubble{
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
    top: -9px;
    right: -7px;
}

.header-nav .cart-count-bubble,
.header-nav .wishlist-count-bubble{
    background: var(--cart-count-background);
    color: var(--cart-count-color);
}

.disable-width,
.header-nav-vertical-menu.layout-search-full .header-top-left.disable-width,
.header-nav-vertical-menu.layout-search-full .disable-width:not(.header-nav__logo) + .header-top-left.header-nav__language,
.layout-search-full.header-inline .header-top-left,
.layout-search-full.header-inline .header-top-right,
.header-nav-vertical-menu.layout-search-full.style-function-13 .header-top-left.disable-width,
.header-nav-vertical-menu.layout-search-full.style-function-13 .disable-width:not(.header-nav__logo) + .header-top-left.header-nav__language,
.layout-search-full.header-inline.style-function-13 .header-top-left,
.layout-search-full.header-inline.style-function-13 .header-top-right {
    display: block !important;
    width: auto;
}

.layout-search-full .header-top-left + .header-top-left,
.layout-search-full .header-top-right + .header-top-left,
.layout-search-full .header-top-left + .header-nav__icons,
.layout-search-full.style-search-icon .header-nav__logo + .header-nav__language,
.layout-search-full.style-search-icon .header-nav__language + .header-nav__logo,
.layout-search-full.style-search-icon .header-nav__icons + .header-nav__logo,
.layout-search-full.style-search-icon .header-nav__icons + .header-nav__language {
    margin-left: 38px;
}

.layout-search-full .header-nav__logo {
    padding-left: 0;
    padding-right: 0;
}

.header-nav-vertical-menu .header-nav__icons.style-9 .header__icon > .text {
    font-size: calc(var(--font-size) - 4px);
    font-weight: var(--font-weight-bold);
    margin-left: 3px;
}

.layout-search-full.style-search-icon .header-nav__icons {
    flex: 1;
}

.header-nav__icons.style-10 .header__icon > .text {
    font-size: calc(var(--font-size) - 1px);
    font-weight: var(--font-weight-normal);
    text-transform: capitalize;
    margin-left: 8px;
}

.header-nav__icons.style-11 .header__icon > .text {
    font-size: calc(var(--font-size) + 1px);
    font-weight: var(--font-weight-normal);
    text-transform: capitalize;
    margin: 0;
}

.header-nav__icons.style-11 .header__icon--cart > .text {
    margin-left: 9px;
}

.header-nav__icons.style-13 .header__icon > .text {
    font-family: var(--font-1-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    text-transform: capitalize;
    margin-left: 8px;
}

/* START: Language/Currency */
.header-nav .header__inline-social li svg {
    fill: var(--header-color);
    stroke: transparent;
}

/* START: Menu Tab */
.header__list .link{
    color: var(--text-color);
    background: var(--text-bg);
}

.header__list .link svg{
    fill: var(--text-color);
}

.header__list .item.is-active .link{
    color: var(--text-color-active);
    background: var(--text-bg-active);
}

body.dark-mode .header__list .link {
    color: var(--color-text2);
}

/* Responsive */
@media (max-width: 1024px) {
    .search-modal__form--mobile .field{
        background: var(--search_bg);
        border-color: var(--search_border);
    }

    .search-modal__form--mobile .search__input,
    .search-modal__form--mobile .search__button{
        color: var(--search_color);
    }

    .search-modal__form--mobile.style-2 .field{
        border-color: var(--search_bg);
    }

    /* Function Group */
    .header-nav .header__icon .icon-cart {
        width: 30px !important;
        height: 30px !important;
    }
}

@media (min-width: 1025px){
    .header-nav-classic.header-inline .header-top--wrapper .header-top-left,
    .header-nav-classic.header-inline .header-top--wrapper .header-top-right {
        width: calc((100% - 50px)/2);
    }

    .template-index .section-header-navigation .header-nav {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
    }

    .header-wrapper--border{
        border-bottom: 1px solid var(--header-color);
    }

    .header-nav .header-middle--wrapper {
        padding: 0;
    }

    .header-nav-multi-site .header-wrapper--border,
    .header-nav-full-elements .header-wrapper--border{
        border-bottom: 1px solid var(--line-separator-color);
    }

    .header-nav .header__icon .icon,
    .header-nav .header__icon > svg {
        width: var(--function-group-size);
        height: var(--function-group-size);
    }

    .header-nav .transparent .menu-lv-1__action,
    .header-nav .top-announcement-bar-item,
    .header-nav .header__linkItem > a,
    .header-nav .halo-top-currency .dropdown-label,
    .header-nav .top-custom-link {
        color: var(--header-color);
    }

    .header-nav .header__icon:hover .icon,
    .header-nav .header__icon:hover > svg {
        fill: var(--cart-count-background);
    }

    .header-nav .header__icon .icon,
    .header-nav .header__icon > svg,
    .header-nav:not(.header-nav-vertical-menu) .top-language-currency .dropdown-icon svg {
        fill: var(--header-color);
        color: var(--header-color);
    }

    .header-nav-vertical-menu .header__icon .icon,
    .header-nav-vertical-menu .header__icon > svg {
        fill: var(--header-top-icon-color);
        color: var(--header-top-icon-color);
    }

    body.dark-mode .header-nav .top-announcement-bar-item,
    body.dark-mode .header-nav .header__linkItem > a,
    body.dark-mode .header-nav .menu-lv-1__action,
    body.dark-mode .header-nav .top-custom-link {
        color: var(--dark-mode-header-color);
    }

    body.dark-mode .header-nav .header__icon .icon,
    body.dark-mode .header-nav .header__icon > svg,
    body.dark-mode .header-nav:not(.header-nav-vertical-menu) .top-language-currency .dropdown-icon svg {
        fill: var(--dark-mode-header-color);
        color: var(--dark-mode-header-color);
    }
    /* Start: Style background transparent */
    .template-index .section-header-navigation .transparent {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9999;
    }

    .template-index .transparent .header__list .item:not(.is-active) .link {
        background: transparent;
    }

    .template-index .transparent .header-wrapper--border{
        border-bottom: 1px solid var(--color-modify-1-text);
    }

    .template-index .transparent .top-customer-service .customer-service--text,
    .template-index .transparent .header-top .header__icon > .text,
    .template-index .transparent .header-top .header__brands .link,
    .template-index .transparent .top-announcement-bar-item,
    .template-index .transparent .header__linkItem > a,
    .template-index .transparent .menu-lv-1__action,
    .template-index .transparent .halo-top-currency .dropdown-label,
    .template-index .transparent .top-custom-link,
    body.dark-mode.template-index .transparent .top-announcement-bar-item,
    body.dark-mode.template-index .transparent .header__linkItem > a,
    body.dark-mode.template-index .transparent .menu-lv-1__action,
    body.dark-mode.template-index .transparent .top-custom-link {
        color: var(--color-modify-1-text);
    }

    .template-index .transparent .top-language-currency .dropdown-icon svg {
        fill: var(--color-modify-1-text);
        color: var(--color-modify-1-text);
    }

    .template-index .transparent .header__icon .icon,
    .template-index .transparent .header__icon > svg,
    .template-index .transparent .header__inline-social li svg{
        fill: var(--color-modify-1-icon);
        color: var(--color-modify-1-icon);
    }

    body.dark-mode.template-index .transparent .header__icon .icon,
    body.dark-mode.template-index .transparent .header__icon > svg,
    body.dark-mode.template-index .transparent:not(.header-nav-vertical-menu) .top-language-currency .dropdown-icon svg {
        fill: var(--color-modify-1-icon);
        color: var(--color-modify-1-icon);
    }

    .header-nav.background-transparent-3 .show-underline .menu-lv-1__action {
        padding-bottom: var(--text-underline);
    }

    .header-nav.background-transparent-3 .header-nav__menu.show-underline .menu-lv-1:hover > .menu-lv-1__action,
    .header-nav.background-transparent-3 .header-nav__menu.show-underline .menu-lv-1__action:hover {
        background-image: linear-gradient(transparent 97%, var(--lv-1-color-hover) 3%);
        background-repeat: repeat-x;
        background-position-y: 0;
    }

    .template-index .transparent [data-menu-lv-toggle-content] .menu-lv-1:hover > .menu-lv-1__action,
    .template-index.dark-mode .transparent .menu-lv-toggle:hover > .menu-lv__dropdownmenu .menu-lv-1__action {
        color: var(--lv-2-color-hover) !important;
    }

    .template-index.scroll-up .transparent .header-wrapper--border,
    .template-index.scroll-down .transparent .header-wrapper--border,
    .template-index.activeHeader .transparent .header-wrapper--border{
        border-color: var(--color-modify-2-text);
    }

    .template-index .background-transparent-1 {
        transition: transform 300ms ease-in-out;
    }

    .template-index .background-transparent-1 .header-top,
    .template-index .background-transparent-1 .header-middle,
    .template-index .background-transparent-1 .header-bottom,
    .template-index .background-transparent-1 .header-mobile {
        background: var(--color-modify);
        transition: all 300ms ease-in-out;
    }

    .template-index :not(.shopify-section-header-sticky.shopify-section-header-hidden) .background-transparent-1 {
        transition: all 300ms ease-in-out;
    }

    .template-index.scroll-up .background-transparent-1,
    .template-index.scroll-up .background-transparent-1 .header-mobile,
    .template-index .background-transparent-1:hover .header-top,
    .template-index .background-transparent-1:hover .header-middle,
    .template-index .background-transparent-1:hover .header-bottom {
        background: var(--color-modify-2);
    }

    .template-index.scroll-up .background-transparent-1 .header__heading-link .header__transparent-logo + img,
    .template-index .background-transparent-1 .header__heading-link .header__transparent-logo,
    .template-index .background-transparent-1:hover .header__heading-link .header__transparent-logo + img {
        display: none;
    }

    .template-index.scroll-up .background-transparent-1 .header__heading-link .header__transparent-logo,
    .template-index .background-transparent-1 .header__heading-link .header__transparent-logo + img,
    .template-index .background-transparent-1:hover .header__heading-link .header__transparent-logo {
        display: block;
    }

    .template-index .background-transparent-1 .header__icon .wishlist-count-bubble,
    .template-index .background-transparent-1 .header__icon .cart-count-bubble {
        transition: all 300ms ease-in-out;
    }

    .template-index.scroll-up .transparent .header__icon .wishlist-count-bubble,
    .template-index.scroll-down .transparent .header__icon .wishlist-count-bubble,
    .template-index.activeHeader .transparent .header__icon .wishlist-count-bubble,
    .template-index.scroll-up .transparent .header__icon .cart-count-bubble,
    .template-index.scroll-down .transparent .header__icon .cart-count-bubble,
    .template-index.activeHeader .transparent .header__icon .cart-count-bubble,
    .template-index .background-transparent-1:hover .header__icon .wishlist-count-bubble,
    .template-index .background-transparent-1:hover .header__icon .cart-count-bubble,
    .background-transparent-1 .header-mobile .header__icon .wishlist-count-bubble,
    .background-transparent-1 .header-mobile .header__icon .cart-count-bubble{
        color: var(--header-bg);
        background: var(--icon-color-transparent);
        transition: all 300ms ease-in-out;
    }

    .background-transparent-1 .header-mobile {
        background: rgb(var(--header-bg));
        background: var(--header-bg);
    }

    .background-transparent-2,
    .background-transparent-3 {
        transition: background .3s;
    }

    .template-index .transparent:not(.background-transparent-1) .header-top,
    .template-index .transparent:not(.background-transparent-1) .header-middle,
    .template-index .transparent:not(.background-transparent-1) .header-bottom,
    .template-index .transparent:not(.background-transparent-1) .header-mobile {
        background: transparent;
        transition: all 300ms ease-in-out;
    }

    .template-index .background-transparent-2{
        background: var(--color-modify)!important;
    }

    .template-index .background-transparent-2:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: calc(-1 * var(--header-height));
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        transition: all var(--duration-default) ease;
    }

    body.template-index.scroll-up .background-transparent-2,
    body.template-index.scroll-down .background-transparent-2,
    body.template-index.activeHeader .background-transparent-2{
        background: var(--color-modify-2)!important;
    }

    body.template-index.scroll-up .background-transparent-2:before,
    body.template-index.scroll-down .background-transparent-2:before,
    body.template-index.activeHeader .background-transparent-2:before{
        top: 0;
        background: var(--color-modify-2);
    }

    .template-index .background-transparent-3{
        background: var(--color-modify);
    }

    body.template-index.scroll-up .background-transparent-3,
    body.template-index.scroll-down .background-transparent-3,
    body.template-index.activeHeader .background-transparent-3{
        background: var(--color-modify-2);
    }

    body.scroll-up .header-nav.header-nav-classic .header-top--wrapper,
    body.scroll-down .header-nav.header-nav-classic .header-top--wrapper {
        display: none;
    }

    .template-index .background-transparent-1:hover .top-customer-service .customer-service--text,
    .template-index .background-transparent-1:hover .header-top .header__icon > .text,
    .template-index .background-transparent-1:hover .header-top .header__brands .link,
    .template-index .background-transparent-1:hover .menu-lv-1__action,
    .template-index .background-transparent-1:hover .top-announcement-bar-item,
    .template-index .background-transparent-1:hover .header__linkItem > a,
    .template-index .background-transparent-1:hover .top-custom-link,
    .template-index .background-transparent-1:hover .halo-top-currency .dropdown-label,
    body.template-index.scroll-up .transparent .top-customer-service .customer-service--text,
    body.template-index.scroll-down .transparent .top-customer-service .customer-service--text,
    body.template-index.activeHeader .transparent .top-customer-service .customer-service--text,
    body.template-index.scroll-up .transparent .header-top .header__icon > .text,
    body.template-index.scroll-down .transparent .header-top .header__icon > .text,
    body.template-index.activeHeader .transparent .header-top .header__icon > .text,
    body.template-index.scroll-up .transparent .header-top .header__brands .link,
    body.template-index.scroll-down .transparent .header-top .header__brands .link,
    body.template-index.activeHeader .transparent .header-top .header__brands .link,
    body.template-index.scroll-up .transparent .menu-lv-1__action,
    body.template-index.scroll-down .transparent .menu-lv-1__action,
    body.template-index.activeHeader .transparent .menu-lv-1__action,
    body.template-index.scroll-up .transparent .top-announcement-bar-item,
    body.template-index.scroll-down .transparent .top-announcement-bar-item,
    body.template-index.activeHeader .transparent .top-announcement-bar-item,
    body.template-index.scroll-up .transparent .header__linkItem > a,
    body.template-index.scroll-down .transparent .header__linkItem > a,
    body.template-index.activeHeader .transparent .header__linkItem > a,
    body.template-index.scroll-up .transparent .top-custom-link,
    body.template-index.scroll-down .transparent .top-custom-link,
    body.template-index.activeHeader .transparent .top-custom-link,
    body.template-index.scroll-up .transparent .halo-top-currency .dropdown-label,
    body.template-index.scroll-down .transparent .halo-top-currency .dropdown-label,
    body.template-index.activeHeader .transparent .halo-top-currency .dropdown-label{
        color: var(--color-modify-2-text);
    }

    body.template-index.scroll-up .transparent .header__icon .icon,
    body.template-index.scroll-down .transparent .header__icon .icon,
    body.template-index.activeHeader .transparent .header__icon .icon,
    body.template-index.scroll-up .transparent .header__inline-social li svg,
    body.template-index.scroll-down .transparent .header__inline-social li svg,
    body.template-index.activeHeader .transparent .header__inline-social li svg,
    .template-index .background-transparent-1:hover .header__icon .icon,
    .template-index .background-transparent-1:hover .header__icon svg,
    .template-index .background-transparent-1:hover .header__inline-social li svg,
    body.template-index.scroll-up .background-transparent-2 .header__icon svg,
    body.template-index.scroll-down .background-transparent-2 .header__icon svg,
    body.template-index.activeHeader .background-transparent-2 .header__icon svg,
    body.dark-mode.template-index .background-transparent-1:hover .header__icon .icon,
    body.dark-mode.template-index .background-transparent-1:hover .header__icon > svg,
    body.dark-mode.template-index .background-transparent-1:not(.header-nav-vertical-menu):hover .top-language-currency .dropdown-icon svg {
        fill: var(--color-modify-2-icon);
        color: var(--color-modify-2-icon);
    }

    .template-index .background-transparent-1:hover .top-language-currency .dropdown-icon svg,
    body.template-index.scroll-up .transparent:not(.header-nav-vertical-menu) .top-language-currency .dropdown-icon svg,
    body.template-index.scroll-down .transparent:not(.header-nav-vertical-menu) .top-language-currency .dropdown-icon svg,
    body.template-index.activeHeader .transparent:not(.header-nav-vertical-menu) .top-language-currency .dropdown-icon svg{
        fill: var(--color-modify-2-text);
        color: var(--color-modify-2-text);
    }

    .template-index.dark-mode .transparent .menu-lv-1:hover > .menu-lv-1__action,
    .template-index.dark-mode .transparent .menu-lv-1__action:hover,
    body.template-index.dark-mode.scroll-up .transparent .top-announcement-bar-item,
    body.template-index.dark-mode.scroll-down .transparent .top-announcement-bar-item,
    body.template-index.dark-mode.activeHeader .transparent .top-announcement-bar-item,
    body.template-index.dark-mode.scroll-up .transparent .header__linkItem > a,
    body.template-index.dark-mode.scroll-down .transparent .header__linkItem > a,
    body.template-index.dark-mode.activeHeader .transparent .header__linkItem > a,
    body.template-index.dark-mode.scroll-up .transparent .top-custom-link,
    body.template-index.dark-mode.scroll-down .transparent .top-custom-link,
    body.template-index.dark-mode.activeHeader .transparent .top-custom-link,
    body.dark-mode.template-index .background-transparent-1:hover .top-announcement-bar-item,
    body.dark-mode.template-index .background-transparent-1:hover .header__linkItem > a,
    body.dark-mode.template-index .background-transparent-1:hover .menu-lv-1__action,
    body.dark-mode.template-index .background-transparent-1:hover .top-custom-link
    {
        color: var(--color-modify-2-text) !important;
    }

    .shopify-design-mode .template-index .background-transparent-2:before {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }

    .shopify-design-mode .template-index.activeHeader .background-transparent-2:before {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    /* End: Style background transparent */

    /* Brand */
    .header-top .header__icon > .text, 
    .header-top .header__brands .link {
        color: var(--header-color);
    }

    /* Annoucement */
    .header-nav__annoucement .header-top-left,
    .header-nav__annoucement .header-top-right{
        flex: 0 0 12.5%;
    }

    .header-nav__annoucement .header-top-left + .header-top-center{
        width: auto;
        flex: 0 0 75%;
    }

    /* Logo */
    .header-nav .header-nav__icons {
        display: flex !important;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 15px;
    }

    .header-nav .header__heading svg{
        width: var(--logo-icon-width);
        height: var(--logo-icon-height);
    }

    .header-nav .header__heading .h2{
        font-size: var(--logo-font-size);
        font-weight: var(--logo-font-weight);
        color: var(--logo-color);
    }

    .header-nav-basic .header-bottom--wrapper .header-nav__logo:first-child,
    .header-nav-basic .header-bottom--wrapper .header-nav__logo:last-child{
        width: var(--logo-width);
    }

    .header-nav-basic .header-bottom .header-nav__menu:first-child + .header-nav__logo {
        width: var(--logo-width);
        padding-left: 15px;
        padding-right: 15px;
        flex: inherit;
    }

    .header-nav-basic .header-bottom .header-nav__icons:first-child + .header-nav__logo {
        width: var(--logo-width);
        padding-left: 30px;
        padding-right: 0;
        flex: inherit;
    }

    .header-nav-basic .header-bottom--wrapper .header-nav__menu:first-child,
    .header-nav-basic .header-bottom--wrapper .header-nav__menu + .header-nav__logo + .header-nav__icons,
    .header-nav-basic .header-bottom--wrapper .header-nav__icons + .header-nav__logo + .header-nav__menu,
    .header-nav-multi-site .header-top-left,
    .header-nav-multi-site .header-top-right,
    .header-nav-full-elements .header-top-left,
    .header-nav-full-elements .header-top-right {
        width: calc(50% - (var(--logo-width)/ 2));
    }

    .header-nav-multi-site .header-top-center,
    .header-nav-full-elements .header-top-center {
        padding-left: 0;
        padding-right: 0;
    }

    .header-nav-multi-site .header-top-left,
    .header-nav-full-elements .header-top-left {
        padding-right: 15px;
    }

    .header-nav-multi-site .header-top-right,
    .header-nav-full-elements .header-top-right {
        padding-left: 15px;
    }

    .header-nav-vertical-menu.layout-search-full .header-top-left .header__heading {
        display: inline-block;
    }

    /* Customer Service + Language / Currency */
    .header__search-full .search-modal__form .search__input{
        color: var(--search_color);
    }

    .header__search-full .search-modal__form .search__button svg{
        fill: var(--search_icon_color);
        color: var(--search_icon_color);
    }

    .header__search-full .search-modal__form .search__button{
        background: var(--search_button_bg_color);
    }

    .style-search-full .header__search-full .search-modal__form .search__input, 
    .style-search-full .header__search-full .search-modal__form .search__button {
        background: transparent 
    }

    .style-search-full .header__search-full .search-modal__form .field {
        border-bottom: 1px solid var(--search_border);
    }

    .style-search-full-2 .header__search-full .search-modal__form .search__input, 
    .style-search-full-2 .header__search-full .search-modal__form .search__button {
        background: var(--search_bg)!important;
        border-color: var(--search_border)!important;
        color: var(--search_color);
    }

    .header-nav-basic .header-bottom--wrapper .header-nav__icons:first-child,
    .header-nav-basic .header-bottom--wrapper .header-nav__logo + .header__menu + .header-nav__icons{
        display: block;
        font-size: 0;
        letter-spacing: 0;
        width: auto;
    }

    .header-nav-basic .header-bottom--wrapper .header-nav__logo + .header__menu,
    .header-nav-basic .header-bottom--wrapper .header-nav__icons + .header__menu {
        padding-left: 15px;
        padding-right: 15px;
        flex: 1;
    }

    .header-nav-basic .header-bottom--wrapper .header-nav__logo:last-child,
    .header-nav-basic .header-bottom--wrapper .header-nav__menu:first-child {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .header-nav-basic .header-bottom--wrapper .header-nav__menu:first-child + .header-nav__icons {
        padding-right: 30px;
    }

    .header-nav-basic .header-bottom--wrapper .header-nav__logo:first-child + .header-nav__icons {
        width: auto;
        padding-left: 30px;
    }

    /* Function Group */
    .search-inline {
        position: static;
    }

    .header-nav .header__search--custom-2 {
        max-width: 170px;
    }

    .header-nav .header-nav__icons.style-5 .cart-count-bubble,
    .header-nav .header-nav__icons.style-5 .wishlist-count-bubble {
        top: -10px;
        right: -10px;
    }

    .header-nav .header-nav__icons.style-6 .header__icon--cart .icon {
        width: calc(var(--function-group-size) + 2px);
        height: calc(var(--function-group-size) + 2px);
    }

    .header-nav .header-nav__icons.style-7 .bg-cart:not(.bg-cart-text) svg {
        transform: translate(-50%,-50%);
    }

    .header-nav .header-nav__icons.style-7 .cart-count-bubble,
    .header-nav .header-nav__icons.style-7 .wishlist-count-bubble{
        font-size: calc(var(--font-size) - 4px);
        font-weight: var(--font-weight-medium);
    }

    .header-nav__icons.style-9 .bubble-count--inline {
        font-size: calc(var(--font-size) - 1px);
        font-weight: var(--font-weight-bold);
        margin-left: 8px;
    }

    .header-nav__icons.style-10 .bubble-count--inline {
        margin-left: 9px;
        border-radius: 20px;
        font-size: calc(var(--font-size) - 1px);
        font-weight: var(--font-weight-medium);
        min-width: 30px !important;
    }

    .header-nav__icons.style-13 .bubble-count--inline {
        margin-left: 8px;
        font-size: var(--font-size);
        font-family: var(--font-1-family);
        line-height: 1.5 !important;
        min-width: 24px !important;
        min-height: 24px !important;
    }

    /* Main-Menu */
    .header-nav .bg-cart:not(.bg-cart-text) {
        position: relative;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: var(--cart-item-background);
    }

    .header-nav .bg-cart:not(.bg-cart-text) svg {
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .header-nav .bg-cart-text {
        border-radius: 9px;
        padding: 8px 10px 8px 13px;
        background: var(--cart-item-background);
    }

    .header-nav .bg-cart .icon,
    .header-nav .bg-cart svg {
        fill: var(--cart-item-color);
        color: var(--cart-item-color);
    }

    .header-nav .bg-cart-text .icon + .text {
        color: var(--cart-item-color);
    }

    .header-nav .bg-cart-text .cart-count-bubble {
        font-size: calc(var(--font-size) - 2px);
        font-weight: var(--font-weight-medium);
        min-width: 24px !important;
        min-height: 24px !important;
        line-height: 24px !important;
        margin-left: 5px;
    }

    .layout-search-full.header-inline .header-bottom--wrapper .header-bottom-center {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1600px) {
    .header-nav-vertical-menu.layout-search-full .header-top-left,
    .header-nav-vertical-menu.layout-search-full .header-top-right {
        width: 415px;
    }

    .header-nav-vertical-menu.style-2.layout-search-full .header-top-left,
    .header-nav-vertical-menu.style-2.layout-search-full .header-top-right {
        width: 380px;
    }

    .header-nav-vertical-menu.layout-search-full .header-top-center:not(.header-nav__logo) {
        width: calc(100% - 850px);
    }

    .header-nav-vertical-menu.style-2.layout-search-full .header-top-center:not(.header-nav__logo) {
        width: calc(100% - 780px);
    }

    .header-nav-vertical-menu.layout-search-full .header-nav__logo + .header-nav__language {
        width: calc(415px - (var(--logo-width) + 38px));
    }

    .header-nav-vertical-menu.style-search-full-6 .header-top-left,
    .header-nav-vertical-menu.style-search-full-6 .header-top-right {
        width: 420px;
    }

    .header-nav-vertical-menu.style-search-full-6.style-function-13 .header-top-left,
    .header-nav-vertical-menu.style-search-full-6.style-function-13 .header-top-right {
        width: 460px;
    }

    .header-nav-vertical-menu.style-search-full-6 .header-top-center:not(.header-nav__logo) {
        width: calc(100% - 820px);
    }

    .header-nav-vertical-menu.style-search-full-6 .header-nav__logo + .header-nav__language {
        width: calc(420px - (var(--logo-width) + 38px));
    }

    .header-nav-vertical-menu.style-search-full-6.style-function-13 .header-nav__logo + .header-nav__language {
        width: calc(460px - (var(--logo-width) + 38px));
    }
}