/* Component Cart Count Bubble */
    .rtl .cart-count-bubble,
    .rtl .wishlist-count-bubble {
        left: -5px;
        right: auto !important;
    }

    .rtl .halo-toolbar-mobile .halo-toolbar-item .cart-count-bubble {
        left: -3px;
        right: auto;
    }

/*  START: Header */
    .rtl .header-top-left .header-top-leftItem + .header-top-leftItem {
        margin-left: 0;
        margin-right: 38px;
    }

    .rtl .header-bottom-right .header-bottom-rightItem + .header-bottom-rightItem {
        margin-left: 0;
        margin-right: 15px;
    }

    .rtl .header-bottom-right .header-bottom-rightItem + .header-bottom-rightItem > div:first-child {
        padding-left: 0;
        padding-right: 15px;
    }

    .rtl .header-bottom-right .header-bottom-rightItem + .header-bottom-rightItem > div:first-child:before {
        left: auto;
        right: 0;
    }

    .rtl .header__linkItem + .header__linkItem {
        margin-left: 0;
        margin-right: 10px;
    }

    .rtl .header__linkItem + .header__linkItem .text {
        padding-left: 0;
        padding-right: 10px;
        border-left: 0px;
        border-right: 1px solid #d6d6d6;
    }

    .rtl .header__brand .link {
        margin-left: 0;
        margin-right: 20px;
    }

    .rtl .header__brand + .header__brand {
        padding-left: 0;
        padding-right: 20px;
        margin-left: 0;
        margin-right: 20px;
    }

    .rtl .header__brand + .header__brand:before {
        left: auto;
        right: 0;
    }

    .rtl .header__icon > .text {
        margin: 0 10px 0 0;
    }

    .rtl .header__icon + .header__icon,
    .rtl .header__iconItem + .header__iconItem {
        margin-left: 0;
        margin-right: 38px;
    }

    .rtl .header__iconItem + .header__currencyItem {
        margin-left: 0;
        margin-right: 46px;
    }

    .rtl .header__icon + .header__icon--cart {
        margin-left: auto;
        margin-right: 31px;
    }

    .rtl .header-nav__icons.style-11 .header__icon > .text {
        margin-left: 0;
        margin-right: 9px;
    }

    .rtl .header__icons--narrow .header__icon + .header__icon,
    .rtl .header__icons--narrow .header__iconItem + .header__iconItem {
        margin-left: auto;
        margin-right: 28px;
        transition: all 0s;
    }

    .rtl .header__icons--narrow .header__search.show-full + .header__iconItem {
        margin-left: auto;
        margin-right: 40px;
    }

    .rtl .header-mobile--icon + .header-mobile--icon {
        margin-left: auto;
        margin-right: 15px;
    }

    .rtl .header-mobile__item--cart {
        padding-right: 0;
        padding-left: 5px;
    }

    .rtl .header__icons--margin.style-11 .header__icon + .header__icon--cart {
        margin-left: 0;
        margin-right: calc(var(--margin-left) + 6px);
    }

    .rtl .header-nav-multi-site .header-top-right,
    .rtl .header-nav-full-elements .header-top-right {
        padding-left: 0;
        padding-right: 15px;
    }

    .rtl .header__icons--margin .header__icon + .header__icon,
    .rtl .header__icons--margin .header__iconItem + .header__iconItem,
    .rtl .header__icons--margin.style-7 .header__icon + .header__icon--cart {
        margin-left: 0;
        margin-right: var(--margin-left);
    }

    .rtl .layout-search-full .header-top-left + .header-top-left {
        margin-left: 0;
        margin-right: 38px;
    }
    
    .rtl .halo-top-language .text-language:after {
        left: 0;
        right: auto;
    }

/*  END: Header */

/*  START: Search Full Box */
    .rtl .no-js details[open] > .header__icon--search {
        left: 0.5rem;
        right: auto;
    }

    .rtl .header__search-full .search-modal__form .search__input,
    .rtl .header__search-full .search-modal__form .search__button {
        padding: 3px 0 3px 15px;
    }

    .rtl .header__search-full .search-modal__form .search__input {
        border-radius: 20px 0 0 20px;
        border-right: none;
        text-align: right;
    }

    .rtl .header__search-full .search-modal__form .search__button {
        border-radius: 0 20px 20px 0;
        padding: 7px 10px 7px 5px;
        border-left: none;
    }

    .rtl .header__search--custom.style-full-7 .search-modal__form .field {
        padding: 3px 0 3px 6px;
    }

    .rtl .header__search--custom.style-full-7 .search-modal__form .search__button,
    .rtl .header__search--custom.style-full-8 .search-modal__form .search__button {
        border-radius: 50%;
    }

    .rtl .header__search--custom.style-full-8 .search-modal__form .field {
        padding: 7px 0 6px 7px;
    }

    .rtl .header__search--custom.style-full-8 .search-modal__form .search__button {
        padding: 0;
    }

    .rtl .header__search--custom.style-full-8 .search-modal__form .search__button svg {
        transform: rotate(0);
    }

/* Mobile Icon search */
    .rtl .header-mobile-style-icon .header__icon--search .icon-search {
        transform: rotate(-90deg);
    }

    .rtl .header-mobile-style-icon-2 .header__icon--search .icon-search {
        transform: rotate(90deg);
    }

    .rtl .header__search--box .search-modal__form .search__input,
    .rtl .header__search--box .search-modal__form .search__button {
        border: none;
        border-radius: 0;
    }

    .rtl .header__search--custom.style-full .search-modal__form .search__input {
        padding-left: 0;
        padding-right: 0;
    }

    .rtl .header__search--custom.style-full .search-modal__form .search__button,
    .rtl .header__search--custom.style-full-3 .search-modal__form .search__button {
        padding: 0;
    }

    .rtl .header__search--custom.style-full .search-modal__form .search__button {
        margin-left: 10px;
        margin-right: auto;
    }

    .rtl .header__search--custom.style-full-3 .search-modal__form .search__input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding-top: 0;
        padding-bottom: 1px;
        padding-right: 0;
    }

    .rtl .header__search--custom.style-full-3 .search-modal__form .search__button {
        margin-left: 6px;
        margin-right: auto;
    }
/* END: Search Full Box */

/* START: Menu */
    .rtl .menu-lv-1__action > .custom-icon+.text {
        margin-left: 0;
        margin-right: 5px;
    }

    .rtl .menu-lv-1__action > .label {
        left: -4px;
        right: auto;
    }

    .rtl .menu-lv-1__action > .label:before {
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
    }
/* END: Menu */

/* START: Customer Service + Language / Currency */
    .rtl .top-customer-service .customer-service--icon {
        margin: 0 0 0 8px;
    }

    .rtl .top-customer-service .customer-service--icon svg {
        margin-left: 0;
        margin-right: -2px;
    }

    .rtl .disclosure__button .text {
        padding: 0 7px 0 4px;
    }

    .rtl .halo-top-currency .dropdown-label {
        padding-left: 0;
        padding-right: 7px;
    }

    .rtl .halo-top-currency .dropdown-label .text span {
        padding-left: 5px;
        padding-right: 0;
    }

    .rtl .top-language-currency .dropdown-icon {
        margin-left: 5px;
        margin-right: 0;
    }

    .rtl .wrapper_language_currency.style-3 .dropdown-icon {
        margin-right: 0;
    }
/* END: Customer Service + Language / Currency */

    .rtl .top-custom-link svg {
        margin: 0 8px 0 0;
    }

@media (min-width: 1025px) {
    /* START: Customer Service + Language / Currency */
        .rtl .language-currency--wrapper.position-left .dropdown-language-currency {
            left: auto;
            right: 0;
        }

        .rtl .language-currency--wrapper.position-right .dropdown-language-currency {
            left: 0;
            right: auto;
        }

        .rtl .halo-currency .currency-menu .dropdown-item .text span {
            padding-left: 3px;
            padding-right: 0;
        }

        .rtl .top-language-currency .dropdown-icon {
            margin-left: 0;
            margin-right: 5px;
        }

        .rtl .halo-top-currency .dropdown-label .text span {
            padding-left: 5px;
            padding-right: 0;
        }
    /* END: Customer Service + Language / Currency */

    /* Custom Social Media Link */
        .rtl .header__inline-social li {
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 30px;
        }

        .rtl .header__inline-social li:last-child {
            margin-left: 0;
        }

    /* START: Menu */
        .rtl .list-menu+.list-menu {
            padding-left: 0;
            padding-right: 30px;
            margin-left: 0;
            margin-right: 10px;
        }

        .rtl .list-menu + .list-menu .menu-lv-1:first-child .menu-lv-1__action:before {
            left: auto;
            right: -30px;
        }

        .rtl .menu-lv-1:first-child .menu-lv-1__action,
        .rtl .header-bottom--wrapper--list .text-left .list-menu .menu-lv-1:first-child .menu-lv-1__action {
            padding-right: 0;
            padding-left: 20px;
        }

        .rtl .menu-lv-1:last-child .menu-lv-1__action,
        .rtl .header-bottom--wrapper--list .text-left .list-menu .menu-lv-1:last-child .menu-lv-1__action {
            padding-left: 0;
            padding-right: 20px;
        }

        .rtl .header-nav .menu-lv-1__action > .text:after{
            left: auto;
            right: -25%;
            height: calc(100% + var(--spacing-bottom) + 2px);
        }

        .rtl [data-navigation] .menu-lv-item:hover > .menu-lv__dropdownmenu {
            right: 0;
        }

        .rtl .menu-lv-2.menu-lv-blink .menu-lv__dropdownmenu-2.menu-lv__megamenu {
            right: 0 !important;
        }
    /* END: Menu */
}

@media (min-width: 1600px) {
    .rtl .header__search--custom.style-full-7 .search-modal__form .search__input,
    .rtl .header__search--custom.style-full-8 .search-modal__form .search__input {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* START: Menu */
        .rtl .header__inline-menu--wide .list-menu--inline > .menu-lv-item {
            margin-left: 15px;
            margin-right: auto;
        }
}

@media (min-width: 1920px) {
    /* START: Menu */
        .rtl .header__inline-menu--wide .list-menu--inline > .menu-lv-item {
            margin-left: 30px;
            margin-right: auto;
        }

        .rtl .header__inline-menu--wide-2 .list-menu--inline > .menu-lv-item {
            margin-left: 35px;
            margin-right: auto;
        }

        .rtl .header-nav-vertical-menu .vertical-menu .menu-lv__dropdownmenu {
            padding-left: 0;
            padding-right: 30px;
        }

        .rtl .header-nav-vertical-menu .vertical-menu .menu-lv-2 {
            padding-left: 30px;
            padding-right: 0;
        }
}