{% layout none %}

<div class="product" data-wishlist-added="wishlist-{{ product.id }}">
    {% render 'product-card',
        product_card_product: product,
        media_size: image_ratio,
        portrait_aspect_ratio: portrait_aspect_ratio,
        serial: forloop.index,
        sectionId: sectionId,
        show_add_to_cart: true,
        wishlist_add: true,
        list: false,
        loading: true
    %}
</div>