{% layout none %}

{% render 'product-card-compare',
    product_card_product: product,
    media_size: 'adapt',
    portrait_aspect_ratio: '125',
    serial: forloop.index,
    sectionId: sectionId
%}
  <div id='Areviewsapp' class='page-full'>{%  render 'aliexpress_reviews' , product: product %}</div>