{% layout none %}

<div class="product">
    {% render 'product-card',
        product_card_product: product,
        media_size: image_ratio,
        portrait_aspect_ratio: portrait_aspect_ratio,
        serial: forloop.index,
        show_add_to_cart: show_add_to_cart,
        sectionId: sectionId,
        list: false,
        wishlist_add: false,
        loading: true
    %}
</div>